<h1>パスワード再設定</h1>

<p>以下のリンクからお願いします</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>


<p>
もしこのメールの心当たりがないようでしたら、無視して構いません
</p>